<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Data User</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<!-- <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"> -->
	<script th:src="@{js/script.js}"></script>
</head>

<body>
	<div class="container text-center">
		<div>
			<h1>Form Users</h1>
		</div>
		<div>
			<table class="table table-bordered">
				<thead class="thead bg-info">
					<tr>
						<th>Name</th>
						<th>Last Name</th>
						<th>Email</th>
						<th>Birth Date</th>
						<th>Department</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${listUsers}">
						<form action="" id="form">
							<td><input type="text" id="name" th:name="name" th:value="${user.name}"></td>
							<td><input type="text" id="lastName" th:name="lastName" th:value="${user.lastName}">
							</td>
							<td><input type="text" id="email" th:name="email" th:value="${user.email}"></td>
							<td><input type="date" id="birthDate" th:name="birthDate" th:value="${user.birthDate}">
							</td>
							<td><select id="department" th:name="department" class="form-control" required>
									<th:block th:each="dp : ${listDepartments}">
										<option th:text="${user.department.name}" th:value="${dp.id}">
									</th:block>
								</select>
							</td>
							<td><a th:href="@{'/user/update/' + ${user.id}}" type="submit" onclick="confirmSave()"
									class="btn btn-primary"><i class="fas fa-user-edit l-2"></i>Save</a>
								&nbsp;
								<a onclick="confirmDelete()" type="delete" class="btn btn-danger"
									th:href="@{'/user/delete/' + ${user.id}}"><i
										class="fas fa-user-delete l-2"></i>Delete</a>
							</td>
						</form>
					</tr>
					<tr th:each="i : ${#numbers.sequence( 0, 9, 1)}">
						<form th:id="${i}">
							<td><input type="text" name="name"></td>
							<td><input type="text" name="lastName"></td>
							<td><input type="text" name="email"></td>
							<td><input type="date" name="birthDate"></td>
							<td><select name="department" class="form-control" required>
									<th:block th:each="dp : ${listDepartments}">
										<option th:text="${dp.name}" th:value="${dp.id}">
									</th:block>
								</select>
							</td>
							<td><a th:href="@{'/user/save'}" type="submit" onclick="confirmSave(id)"
									class="btn btn-primary"><i class="fas fa-user-edit l-2"></i>Save</a>
								&nbsp;
								<a onclick="confirmDelete()" type="reset" class="btn btn-danger"><i
										class="fas fa-user-delete l-2"></i>Delete</a>
							</td>
						</form>
					</tr>
				</tbody>
			</table>
			<input type="button" onclick="postData()" class="btn btn-primary">Save All</input>
		</div>
	</div>
</body>

<script>
	function postData() {
		event.preventDefault();

		const data = new FormData(event.target);

		const formJSON = Object.fromEntries(data.entries());

		const results = document.querySelector("#form");

		fetch(result)
			// Converting received data to JSON
			.then((response) => response.json())
			.then((json) => {
				let options = {
					method: "POST",
					headers: {
						"Content-Type": "application/json;charset=utf-8",
					},
					body: JSON.stringify(json),
				};

				// Fake api for making post requests
				let fetchRes = fetch("http://localhost:8080/user/saveAll", options);
			});
	}

</script>

</html>